{% extends '_base.html' %}


{% block content %}
<!--  Todo: Rachel to write the homepage -->
<h1 class="govuk-heading-xl">Book a lightning talk</h1>
<p class="govuk-body">Contents</p>
—<a href="#" class="govuk-link">What is a lighting talk</a></p>
—<a href="#" class="govuk-link">How to prepare</a></p>
<br>
<br>
<hr/>
<br>
<h1 class="govuk-heading-l">What is a lightning talk</h1>
<p class="govuk-body">A lightning talk is a very short presentation lasting only a few minutes.
<br>
<br>
    The topic of a lightning talk can be anything you think your audience will be interested in. This could include:
    <br>
</p>

<ul class="govuk-list govuk-list--bullet">
    <li>A new skill you have learnt</li>
    <li>An experience you have had</li>
    <li>A practical demonstration</li>
</ul>

<h1 class="govuk-heading-l">How to prepare for a lightning talk</h1>
<p class="govuk-body">To prepare for delivering your lightning talk, consider the following advice.</p>
 
{% endblock %}