<div class="govuk-date-input" id="lightning-talk">
    <div class="govuk-date-input__item">
      <div class="govuk-form-group">
        <label class="govuk-label govuk-date-input__label" for="day">
          {{widget.label}}
        </label>
        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="day" name="{{widget.name}}" type="text" inputmode="numeric" value="{{widget.value}}">
      </div>
    </div>
    <div class="govuk-date-input__item">
      <div class="govuk-form-group">
        <label class="govuk-label govuk-date-input__label" for="month">
          {{widget.label}}
        </label>
        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="month" name="{{widget.name}}" type="text" inputmode="numeric" value="{{widget.value}}">
      </div>
    </div>
    <div class="govuk-date-input__item">
      <div class="govuk-form-group">
        <label class="govuk-label govuk-date-input__label" for="year">
          {{widget.label}}
        </label>
        <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="year" name="{{widget.name}}" type="text" inputmode="numeric" value="{{widget.value}}">
      </div>
    </div>
  </div>